h1 {
    font-family: "Sacramento", sans-serif;
    font-size: 4rem;
}

h2 {
    font-family: "Poetsen One", sans-serif;
    font-size: 2rem;
}

hgroup p {
    color: #B45253;
    font-family: "Poetsen One", sans-serif;
    font-size: 1.5rem;
}

h1, h2 {
    color: #B45253;
    text-align: center;
    margin: 2rem 0;
}

h3 {
    color: #B45253;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #FFD5D5;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.image-heading-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.image-heading-container div {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.image-heading-container img {
    max-height: 100%;
    width: 100%;
    border-radius: 2%;
}

.recipe-images {
    display: flex;
}

.recipe-images img{
    flex: 1;
    max-width: 25%;
}

.horisontal-list {
    font-family: "Roboto", sans-serif;
    display: flex;
    padding: 0;
    justify-content: center;
}

.horisontal-list h3 {
    color: #000000;
    margin-bottom: 0;
}

.horisontal-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin: 0.5rem;
    padding: 1rem 1rem;
    background-color: #59AC77;
    text-align: center;
    flex: 1;
    max-width: 30%;
    box-sizing: border-box;
}

.horisontal-list img {
    max-width: 100%;
    aspect-ratio: 16/9;
    height: 200px;
    object-fit: contain;
    border-radius: 2%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

@media only screen and (max-width: 850px) {
    .image-heading-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .image-heading-container div {
        width: 60%;
    }

    .image-heading-container > div:last-child {
        order: -1;
    }

    .recipe-images {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .recipe-images img {
        display: block;
        max-width: 60%;
        margin-bottom: 1rem;
        border-radius: 2%;
    }

    .horisontal-list {
        flex-direction: column;
        align-items: center;
    }

    .horisontal-list li {
        max-width: 100%;
        margin: 0.5rem auto;
    }

    .horisontal-list img {
        height: auto;
    }
}