h1 {
    font-family: "Sacramento", sans-serif;
    font-size: 4rem;
}

h2 {
    font-family: "Poetsen One", sans-serif;
    font-size: 2rem;
}

hgroup p {
    color: #B45253;
    font-family: "Poetsen One", sans-serif;
    font-size: 1.5rem;
}

h1, h2 {
    color: #B45253;
    text-align: center;
    margin: 2rem 0;
}

h3 {
    color: #B45253;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #FFD5D5;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.image-heading-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.image-heading-container div {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.image-heading-container img {
    max-height: 100%;
    width: 100%;
    border-radius: 2%;
}

.recipe-images {
    display: flex;
}

.recipe-images img{
    flex: 1;
    max-width: 25%;
}

.horisontal-list {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex: 1;
    padding: 0;
}

.horisontal-list h3 {
    color: #000000;
}

.horisontal-list li {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #59AC77;
    text-align: center;
}

.horisontal-list img {
    max-width: 50%;
    border-radius: 2%;
}